@main-blue: #0072C6;
@main-gray: #CCC;

@controls-height: 30px;

html {
	margin-top: 45px;
}

body {
	font-size: 9pt;
	-webkit-user-select: none;
}

#list {
	overflow-y: auto;
}

#fields {
	overflow-y: auto;
}

#controls {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.separator {
	border: solid 1px @main-gray;
	margin-bottom: 5px;
}